.pagination {
	text-align: right;
}

.pagination__list {
	@include inlineblock();
}

.pagination__item {
	width: 24px;
	height: 23px;
	@include inlineblock();
	@include border-radius(3px);
	border: 1px solid $grey;
	position: relative;
	overflow: hidden;
}

.pagination__link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	background: #fff;

	&:hover {
		background: #e0e0e0;
	}
}

.pagination__mark {
	@include absolute-center;
	line-height: 26px;
	text-align: center;
	@include open-sans(bold);
	font-size: 12px;
	color: #7f7f7f;
}