.sidebar {
	float: left;
	width: 335px;
}

.categories {
	margin-bottom: 40px;
	background: #fff;
}

.categories__list {
	border: 1px solid #dee1e4;
	@include border-radius(5px);
	overflow: hidden;
}

.categories__item {
	border-top: 1px solid #dee1e4;

	&:first-child {
		border-top: 0 none;
	}

	&.active {
		.categories__link {
			background: #d9e5ea;
			color: #5d656c;
		}
	}
}

.categories__link {
	display: block;
	width: 100%;
	padding: 11px 30px;
	color: #7f7f7f;
	text-decoration: none;
	box-sizing: border-box;
}

/* --------- filters --------- */

.filter__list {
	@extend .categories__list;
}

.filter__item {
	padding: 12px 26px;
}

.filter__title-link {
	color: $black;
	font-size: 16px;
	line-height: 18px;
	@include open-sans(semibold);
	margin-bottom: 18px;
	text-decoration: none;
}

.filter__choose-label {
	display: block;
	position: relative;
}

.filter__choose-elem {
	border: 3px solid $orange;
	width: 13px;
	height: 13px;
	@include border-radius(50%);
	position: relative;
	@include transition(border-color .3s);
	@include inlineblock();
}

.filter__choose-input {
	position: absolute;
	top: 0;
	left: -9999px;
}