@import "compass";

/* --------- normalize --------- */

@import "_misc/normalize";

/* --------- fonts --------- */

@import "_misc/fonts";

/* --------- mixins --------- */

@import "_misc/mixins";

/* --------- adjustment --------- */

@import "_misc/adjustment";

/* --------- common colors --------- */

$black: #333;
$orange: #ff6600;
$grey: #dde1e4;

/* --------- plugins --------- */

@import "_plugins/**/*";

/* --------- widgets --------- */

@import "_widgets/**/*";

/* --------- sections --------- */

@import "_sections/**/*";