.select2-container {
	width: 160px !important;

	* {
		outline: none !important;
	}

	.select2-selection__arrow {
		b {
			height: 9px !important;
			width: 13px !important;
			border: 0 none !important;
			margin: auto !important;
			top: 0 !important;
			left: 0 !important;
			right: 0 !important;
			bottom: 0 !important;
		}
	}

	&.select2-container--open {
		b {

		}
	}

	.select2-selection__rendered {
		font-size: 12px;
		@include open-sans(light);
		color: #7f7f7f;
	}

	.select2-dropdown {
		margin-top: 2px;
		bottom: 0 none;
		@include box-shadow(0 0 5px 0 rgba(134, 134, 134, .75));
		@include border-radius(5px);
		background: #fff;
	}

	.select2-results__option {
		background: #fff;
		font-size: 14px;
		line-height: 16px;
		@include open-sans(light);
		color: #7f7f7f;

		&.select2-results__option--highlighted {
			color: #333 !important;
			@include open-sans(semibold);
		}
	}
}