extends ../main

block title
	| Главная страница (main.psd)

block content
	article.content-wrapper
		.container
			.main-title
				| Мобильные телефоны
			.main-content

				include ../_common/_sidebar

				.content
					.sort
					.products
						
			.attension
				.main-title
					| Важная информация
				.attension__text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit quod ducimus assumenda laboriosam ad, totam repudiandae incidunt libero suscipit quo nam pariatur consectetur asperiores est tenetur aliquid molestiae expedita nobis!
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit quod ducimus assumenda laboriosam ad, totam repudiandae incidunt libero suscipit quo nam pariatur consectetur asperiores est tenetur aliquid molestiae expedita nobis!
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit quod ducimus assumenda laboriosam ad, totam repudiandae incidunt libero suscipit quo nam pariatur consectetur asperiores est tenetur aliquid molestiae expedita nobis!
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit quod ducimus assumenda laboriosam ad, totam repudiandae incidunt libero suscipit quo nam pariatur consectetur asperiores est tenetur aliquid molestiae expedita nobis!
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit quod ducimus assumenda laboriosam ad, totam repudiandae incidunt libero suscipit quo nam pariatur consectetur asperiores est tenetur aliquid molestiae expedita nobis!
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit quod ducimus assumenda laboriosam ad, totam repudiandae incidunt libero suscipit quo nam pariatur consectetur asperiores est tenetur aliquid molestiae expedita nobis!